* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#theories {
    color: black;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
}

#cosmos {
    color: #FF8000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 1220px;
    height: 64px;
    margin: 0 auto;
    margin-top: 53px;
}

#column {
    margin-left: 74.5px;
    width: 681px;
}

#big {
    color: #D9AE00;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 63px;
    height: 48px;

}

#evolution {
    color: #6D81B4;
    text-align: left;
    font-size: 24px;
    height: auto 145px;
    margin-top: 24px;
}

#astro {
    margin-top: 30px;
    height: 415px;
}

#container {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    background: #FFCEBE;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    width: 1007px;
    margin-left: 74px;
    padding: 64px;
    margin-top: 101px;
}

#black {
    color: #F44E50;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;

}

#holes {
    color: #8b2b2c;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
    margin-top: 24px;
    width: 680px;

}

#photo {
    width: 879px;
    height: 415px;
    margin-top: 30px;
}

#box {
    width: 696px;
}

#string {
    color: blue;
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 101px;


}

#box1 {
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 3px solid #FF5DA3;
    background: #FFC1E3;
    margin-left: 74px;
}

#world {
    color: #616161;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 174px;
}

#container1 {
    width: 696px;
    margin-left: 74px;
}

#keypoints {
    color: #616161;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

#box2 {
    margin-left: 12px;
    margin-top: 16px;
}

ul {
    list-style-image: url("/image/Rectangle.png")
}

#listyle {
    color: #C27512;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#shor {
    margin-top: 8px;
}

#surati {
    height: 415px;
    align-self: stretch;
    margin-top: 30px;
}